@font-face {
    font-family: 'geometry_soft_probold_n';
    src: url('./fonts/geometry_soft_pro-bold_n-webfont.woff2') format('woff2'),
         url('./fonts/geometry_soft_pro-bold_n-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

/* 1. Use a more-intuitive box-sizing model */
*, *::before, *::after {
    box-sizing: border-box;
}
  
/* 2. Remove default margin and padding */
* {
    margin: 0;
    padding: 0;
}

body {
    /* 3. Add accessible line-height */
    line-height: 1.5;
    /* 4. Improve text rendering */
    -webkit-font-smoothing: antialiased;

    background-color: rgb(165, 212, 230);
    font-family: "geometry_soft_probold_n","Roboto";
    min-height: 100vh;
}

/* 5. Improve media defaults */
img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
}

/* 6. Inherit fonts for form controls */
input, button, textarea, select {
    font: inherit;
}

/* 7. Avoid text overflows */
p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
}

/* 8. Improve line wrapping */
p {
    text-wrap: pretty;
}
h1, h2, h3, h4, h5, h6 {
    text-wrap: balance;
}

/*
9. Create a root stacking context
*/
#root, #__next {
    isolation: isolate;
}

:root {
    --background-color: rgb(227, 249, 255);
    --game-hover-color: rgb(235, 245, 247);
    --current-player: 'X';
}

main {
    display: flex;
    justify-content: center;
}

main .position-container {
    position: relative;
}

main .position-container .win {
    position: absolute;
    display: inline-block;
    width: 20px;
    background-color: rgb(219, 0, 0);
    border-radius: 50px;
    visibility: hidden;
}

main .position-container .diagonal {
    height: 560px;
    top: -20px;
    left: 240px;
    transform: rotate(-45deg);
}

main .position-container .vertical {
    height: 450px;
    top: 30px;
    left: 240px;
}

main .position-container .horizontal {
    height: 450px;
    top: 30px;
    left: 240px;
    transform: rotate(90deg);
}

main .position-container .tie {
    position: absolute;
    display: inline-block;
    width: 510px;
    top: 190px;
    color: red;
    text-align: center;
    background-color: rgb(255, 255, 255);
    font-size: 90px;
    visibility: hidden;
}

@keyframes fadeIn {
    0% { opacity: 0; }
    20% { opacity: 0; }
    40% { opacity: 0.3; }
    60% { opacity: 0.5; }
    80% { opacity: 0.9; }
    100% { opacity: 1; }
}

main .game-container {
    display: grid;

    grid-template-columns: 150px 20px 150px 20px 150px;
    grid-template-rows: 150px 20px 150px 20px 150px;

    justify-self: center;
    align-self: center;
    padding: 10px;
    border-radius: 10px;
}

main .game-container div {
    /* background-color: rgb(99, 115, 186); */
    display: flex;
    /* text-align: center; */
    align-items: center;
    justify-content: center;
}

main .game-container .border {
    background-color: rgb(33, 33, 33);
}

main .game-container .cell {
    background-color: rgb(227, 249, 255);
    border-radius: 3px;
    margin: 15px;
    font-size: 100px;
}

main .game-container .cell:hover {
    background-color: rgb(204, 232, 238);
    cursor: pointer;
}

main .game-container .left {
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}

main .game-container .right {
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
}

main .game-container .top {
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

main .game-container .bottom {
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

#start-modal {
    background-color: rgb(103, 149, 176);
    height: 500px;
    width: 500px;
    margin: 50px auto;
    border: none;
    border-radius: 40px;
}

::backdrop {
    background-color: aliceblue;
    opacity: 0.7;
}

#start-modal form {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    padding: 10px;

}

#start-modal .players {
    display: flex;
    justify-content: center;
    align-items: center;
}

#start-modal form h1, form section{
    padding: 20px;
}